<!DOCTYPE html>
<html lang="en">
<div class= "content">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
    <style>
        .column {
            width: 30%;
            display: inline-block;
            vertical-align: top;
        }
        .content select,
        .content input {
            width: 100%;
        }
    </style>
</head>
<body>
Category List
    <div class='column'>
        <div>Filter By:</div>
        <select size="12" id='categories'></select>
        <input id='category'>
        <button id="add_category">Add Category</button>
    </div>
</body>
</div>
</html>