<!DOCTYPE html>
<html lang="en">
<div class= "content">
<head>
    <meta charset="UTF-8">
    <title>Item Details</title>
    <style>
        .column {
            width: 30%;
            display: inline-block;
            vertical-align: top;
        }
        .content select,
        .content input {
            width: 100%;
        }
    </style>
</head>
<body>
Item Detail
    <div class='column'>
        <div>Items</div>
        <select size="12" id='items'></select>
        <input id='item'>
        <button id="add_item">Add Item</button>
    </div>
</body>
</div>
</html>